<div>
    <em>A Partial View belső, saját tartalma:</em> <b>Tempdata: @TempData["Tempadat"]</b>
</div>

<div>
    <h5>Main ViewData</h5>
    Szemelynev: @ViewData["Szemelynev"] <br />
    Címe: @ViewData["Címe"]
</div>


