@using MvcApplication1.Models
@model ActionDemoModel
@{
    ViewBag.Title = "Hcombo1";
}

<h2>Combo és lista 1</h2>
@using (Html.BeginForm(null, null, new { id = Model.Id }, FormMethod.Post, new { id = "form1" }))
{
    @Html.LabelFor(m => m.KeyPurchase)
    @Html.DropDownListFor(m => m.KeyPurchase.Id, null,"Egyik sem")
}
<br />
<input type="submit" value="Ment" form="form1" />
