@model MvcApplication1.Models.CacheDemoModel
@{
    Layout = null;
}

<td>
    @Html.DisplayFor(model => model.FullName)
</td>

<td>
    @Html.DisplayFor(model => model.CreateTime)
</td>

<td>
    @Html.DisplayFor(model => model.SelectTime)
</td>
