<tr>
    <td>
        0
        <input id="Id" name="Id" type="hidden" value="0" />
    </td>
    <td>
        <input id="FullName" name="FullName" type="text" value="Kategória 2-0" />
    </td>
    <td>
        <input id="CreatedDate" name="CreatedDate" type="datetime" value="2013.03.20. 14:55:31" />
    </td>
</tr>

<tr>
    <td colspan="3">
            <div>
                <table style="width: 100%;">
                    <tr>
                        <th>Id</th>
                        <th>Név</th>
                        <th>Létrehozva</th>
                    </tr>
                    <tr style="border-bottom: 1px solid #555">
                        <td>1</td>
                        <td>
                            <input id="SubCategories_0__FullName" name="SubCategories[0].FullName" type="text" value="Kategória 1-1" />
                        </td>
                        <td>
                            <input id="SubCategories_0__CreatedDate" name="SubCategories[0].CreatedDate" type="datetime" value="2012.12.06. 14:55:31" />
                        </td>
                    </tr>
                    <tr>
                        <td colspan="3">
                            <div>
                                <table style="width: 100%;">
                                    <tr>
                                        <th>Id</th>
                                        <th>Név</th>
                                    <th>Létrehozva</th>
                                </tr>
                                <tr>
                                    <td>
                                        2
                                    </td>
                                    <td>
                                        <input id="SubCategories_0__SubCategories_0__FullName" name="SubCategories[0].SubCategories[0].FullName" type="text" value="Kategória 0-2" />
                                    </td>
                                    <td>
                                        <input id="SubCategories_0__SubCategories_0__CreatedDate" name="SubCategories[0].SubCategories[0].CreatedDate" type="datetime" value="2012.10.03. 14:55:31" />
                                    </td>
                                </tr>
                                <tr style="border-bottom: 1px solid #555">
                                    <td>
                                        3
                                    </td>
                                    <td class="editor-field">
                                        <input name="SubCategories[0].SubCategories[1].FullName" type="text" value="Kategória 0-3" />
                                    </td>
                                    <td class="editor-field">
                                        <input id="SubCategories_0__SubCategories_1__CreatedDate" name="SubCategories[0].SubCategories[1].CreatedDate" type="datetime" value="2012.10.03. 14:55:31" />
                                    </td>
                                </tr>

                                    
                                    
<td>1
    <input id="SubCategories_Di1__Id" name="SubCategories[Di1].Id" type="hidden" value="1" />
    <input id="SubCategories_Di1__key" name="SubCategories[Di1].key" type="hidden" value="Di1" />
</td>
<td >
    <input id="SubCategories_Di1__FullName" name="SubCategories[Di1].FullName" type="text" value="Kategória 2-1" />
</td>
<td >
     <input id="SubCategories_Di1__CreatedDate" name="SubCategories[Di1].CreatedDate" type="datetime" value="2013.01.18. 22:57:35" />
</td>
