@{
    ViewBag.Title = "Other";
}

<h2>Több eszköz - Desktop</h2>
<ul>
    @foreach (var dev in DisplayModeProvider.Instance.Modes)
    {
        <li>@dev.DisplayModeId</li>
    }
</ul>

@Html.Partial("SwithPartial")