@section header
{
    <h3>Ez az EgybenPartial.cshtml HEADER kötelező tartalma lenne, ha megjelenne</h3>
}
<h3>Ez az EgybenPartial.cshtml Saját tartalma</h3>
<div style="background-color: #999; margin: 30px;">
    @Html.Partial("EgybenPartialSub")
</div>
