@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

@Html.ActionLink("Egyszerű feltöltés", "Upload") <br/>
@Html.ActionLink("Több feltöltés", "UploadMulti")<br/>
@Html.ActionLink("Feltöltési lista", "UploadList")<br/>